---
import Layout from "../layouts/Layout.astro";
import CarruselDeFotos from "../components/CarruselDeFotos.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Telecomunicaciones Chile Spa: Conectividad confiable para empresas y particulares en todo Chile, con tecnología de vanguardia y atención experta."
>
  <main>
    <CarruselDeFotos />
  </main>
</Layout>
