---
const ItemsDeCarrusel = [
  {
    img: "/ImgCarrusel1.webp",
    alt: "Instalación de Telecomunicaciones",
    etiquetaAria: "Slide 1",
    carruselDeDatosDesplazaHacia: "0",
  },
  {
    img: "/ImgCarrusel2.webp",
    alt: "Instalación y Servicios de Seguridad",
    etiquetaAria: "Slide 2",
    carruselDeDatosDesplazaHacia: "1",
  },
  {
    img: "/ImgCarrusel3.webp",
    alt: "Grandes Proyectos de Construcción",
    etiquetaAria: "Slide 3",
    carruselDeDatosDesplazaHacia: "2",
  },
  {
    img: "/ImgCarrusel4.webp",
    alt: "Manutención e Instalación para el Hogar",
    etiquetaAria: "Slide 4",
    carruselDeDatosDesplazaHacia: "3",
  },
];
---

<div
  id="default-carousel"
  class="relative w-full z-0"
  data-carousel="slide"
  data-carousel-interval="80000"
>
  <!-- Carousel -->
  <div class="relative overflow-hidden rounded-b-lg mt-28" id="carrusel">
    <!-- Imágenes -->
    {
      ItemsDeCarrusel.map((Imagen, index) => (
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={Imagen.img}
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt={Imagen.alt}
            onload="ajustarAlturaCarrusel()"
          />
        </div>
      ))
    }
  </div>
  <!-- Indicadores deslizantes -->
  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    {
      ItemsDeCarrusel.map((Indicador) => (
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label={Indicador.etiquetaAria}
          data-carousel-slide-to={Indicador.carruselDeDatosDesplazaHacia}
        />
      ))
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<script>
  // Función para ajustar la altura del carrusel
  function ajustarAlturaCarrusel() {
    // Obtener el contenedor del carrusel
    var carrusel = document.getElementById("carrusel");

    // Verificar si el carrusel existe
    if (carrusel) {
      // Obtener la imagen actual dentro del carrusel
      var imagenActual = carrusel.querySelector("img");

      // Verificar si la imagen actual existe
      if (imagenActual) {
        // Ajustar la altura del contenedor según la altura de la imagen actual
        carrusel.style.height = imagenActual.offsetHeight + "px";
      }
    }
  }

  // Llamar a la función cuando la página se carga
  window.onload = ajustarAlturaCarrusel;

  // Llamar a la función cuando se redimensiona la ventana
  window.addEventListener("resize", ajustarAlturaCarrusel);
</script>
